.validation{
    display:none;
    color:red;
}

.img-thumbnail{
	border-radius:2% !important;
	
}
.p-userinfo{
	margin-bottom:0 !important;
}

#my_profile{
	margin-left: 10%;
}

.editProfileForm{
	width:100% !important;
	#update-btn{
		margin:0 40%;
		margin-top:5%;
	}
}
#registerRow{
	margin-left:25%;
}
#register,#login-btn{
	margin:0 40%;
	margin-top:5%;
}




/*  SHOOPING CART */


.content {
	margin: 0px auto;
	#tag {
		margin:20px 0;
		text-align: center;
	}
}

.button {
	display:flex;
	justify-content: center;
	position: relative;
    margin: 0px auto;
	width:100%;
    h1{
      
        font-size: 25px;
        margin-top:20%;
        font-family: "Josefin Sans", sans-serif;
        color:white;
        padding: 5px 8px;
        border-radius: 60px;
        
    }
}


.cart-summary {
	flex-shrink: 0;
	position:absolute;
	width:200px; //height:308px;
	top:65px;
	margin: 0px auto;
	padding:5px 8px;
	box-shadow: 2px 15px 40px -5px rgba(0,0,0,0.2);
	z-index:2;
	&-item {
		padding:15px 10px 10px 10px;
		background: white;
        border-bottom: 1px solid #ccc;
	}
	&-total {
		text-align: right;
		span {
			font-weight:600;
        }
	}
	&-prod {
        display:flex;
        flex-direction: column;
		justify-content: space-between;
        align-items: center;
        height:auto;
        width:100%;
        .checkout-price{
            margin-top:3%;
        }
		&-img {
            width:40%; 
            height:auto;
           
            img{
                width:100%;
            }
        }
		
		&-desc {
			line-height:2em;
            text-align: right;
            h4{
                width:100%;
                background-color:red;
            }
            
		}
	}
	&-checkout {
		text-align: center;
		h1 {
			color: black;
		}
		cursor: pointer;
		transition: border 100ms ease-in;
		&:hover {
			border: 5px solid #ccc;
		}
	}
}



// Modal action
.cart-summary {
	background-color: white !important;
	height:20px;
	transform: scale(.6) translateY(-120px);
	opacity:0;
	transition:all 400ms ease-in-out;
}

.button:hover .cart-summary {
	height:auto;
	transform: scale(1) translateY(0px);
	opacity:1;
}

.checkoutBtn{
    width:100%;
    padding:5% !important;
    background-color:  #28a745 !important;
}
.delete-cart{
    background-color: white !important;
    box-shadow: none !important;
    padding:1% !important;
    border: none !important;
    cursor: pointer;
}



.quantityInMenu{
	width:15% !important;
	padding-left:15px;	
}

.quantityInCart{
    margin-top:10%;
	width: 100%;
    border-radius: 0px;
    height:25px;
    padding-left:15px;
    
}
.cartMessage h4{
	color:black;
}

.order-table{
	width:100%;
	table {
		width:80% !important;
		align-self: center;
	}
	.send_order_btn{
		width:15%;
		color:white;
		background-color: #28a745;
		border:none;
		padding:1% 0;
		cursor:pointer;

	}
}
	
.buttonAdd{
	background-color: rgb(120, 180, 84) !important;
	color:white !important;
	width: 7%;
	border:none;
	cursor: pointer;

}
.btn-edit{
	

	padding:1.2% ;
	font-size: 0.8rem;
	cursor: pointer ;
	border: 2px solid rgb(72, 164, 84);
	&:hover{
		background-color: rgb(72, 164, 84);
	}
}

.messageDiv{
	width:65%;
	height:auto;
	background-color:rgba(72, 164, 84,0.95);
	
	
	.messageUserName,.messageSubject,.messageContent{
		color:rgb(255,255,255) !important;
		padding:1%;
		background-color: rgba(255,255,255,0.1);
		width: 95%;
		margin:0 auto;
		font-size: 1.1rem;
		p{
			color:rgb(255,255,255) !important;
		}
		b{
			font-size: 1.1rem;
			color:white;
		}
	}
	.messageUserName b{
		opacity:50%;
	}
	.messageDate{
		color:white;
		margin-left:3%;
	}
	.messageImg{
		width:100%;
		height:auto;
		img{
			width:100%;
		}
	}
	
	
}


//////////////admin




.panel {
	border: 0;
}

.panel-container {
	padding-top: 20px;
	
}


.large {
	font-size: 2em;
}
.fa-xl {
	font-size: 2em;
}
.fa-l {
	font-size: 1.7em;
}
.light-grey{
	color:rgb(175, 175, 175);
}
.margin5{
	margin-top:1.2%;
}
.filter-sort-bar{
	height: 8vh;
	background-color: rgb(231, 231, 231); 
	.fa-dollar-sign{
		color:rgb(182, 182, 182);
	}
	a{
		padding: 25% 12%  5% 12%;
		border-radius: 4px;
		&:hover{
			background-color: rgb(72, 164, 84);
			color:white !important;
		}
		
	}
	
	
}

.imgauthor{
	width:200px;
	
}
.error404{
	height:500px;
	background:rgb(231, 235, 183);
	h1{
		padding-top:200px;
	}
}